In [3]:
import pandas as pd

In [4]:
animals = pd.read_csv('animais.csv')

In [5]:
animals.head()

  animal_name  hair  feathers  eggs  milk  predator  legs  tail  type
0     sparrow     0         1     1     0         0     2     1     0
1       eagle     0         1     1     0         1     2     1     0
2         cat     1         0     0     1         1     4     1     1
3         dog     1         0     0     1         0     4     1     1
4      lizard     0         0     1     0         1     4     1     2

In [6]:
import torch
from torch.utils.data import TensorDataset

X = animals.iloc[:, 1:-1].to_numpy()  
y = animals.iloc[:, -1].to_numpy()

# Create a dataset
dataset = TensorDataset(torch.tensor(X), torch.tensor(y))

# Print the first sample
input_sample, label_sample = dataset[0]
print('Input sample:', input_sample)
print('Label sample:', label_sample)

Input sample: tensor([0, 1, 1, 0, 0, 2, 1])
Label sample: tensor(0)

In [7]:
from torch.utils.data import DataLoader

# Create a DataLoader
dataloader = DataLoader(dataset,batch_size=2, shuffle=True)

# Iterate over the dataloader
for batch_inputs, batch_labels in dataloader:
    print('batch_inputs:', batch_inputs)
    print('batch_labels:', batch_labels)

batch_inputs: tensor([[1, 0, 0, 1, 0, 4, 1],
        [0, 1, 1, 0, 0, 2, 1]])
batch_labels: tensor([1, 0])
batch_inputs: tensor([[1, 0, 0, 1, 1, 4, 1],
        [0, 1, 1, 0, 1, 2, 1]])
batch_labels: tensor([1, 0])
batch_inputs: tensor([[0, 0, 1, 0, 1, 4, 1]])
batch_labels: tensor([2])

In [10]:
import numpy as np
import torch.nn as nn

y_pred = np.array([3, 5.0, 2.5, 7.0]) 
y = np.array([3.0, 4.5, 2.0, 8.0])   

# Calculate MSE using NumPy
mse_numpy = np.mean((y_pred - y)**2)

# Create the MSELoss function in PyTorch
criterion = nn.MSELoss()

# Calculate MSE using PyTorch
mse_pytorch = criterion(torch.tensor(y_pred), torch.tensor(y))

print("MSE (NumPy):", mse_numpy)
print("MSE (PyTorch):", mse_pytorch)

MSE (NumPy): 0.375
MSE (PyTorch): tensor(0.3750, dtype=torch.float64)

In [ ]:
num_epochs=5
optimizer = optim.SGD(model.parameters(), lr=0.001)

# Loop over the number of epochs and the dataloader
for i in range(num_epochs):
  for data in dataloader:
    # Set the gradients to zero
    optimizer.zero_grad()
    # Run a forward pass
    feature, target = data
    prediction = model(feature)    
    # Compute the loss
    loss = criterion(prediction, target)    
    # Compute the gradients
    loss.backward()
    # Update the model's parameters
    optimizer.step()
show_results(model, dataloader)